.bebas-rg-700up {
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 400;
}

.header {
  &__text {
    display: inline;
    top: 350px;
    left: 0;

    &>span {
      text-align: center;

      &:last-child {
        display: block;
      }
    }
  }

  &__back {
    &__logo-img {
      top: 410px;
    }
  }

  &__scroll-btn {
    top: 850px;
  }

  &__nav-menu {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    padding: 20px 0 20px 5%;

    &__nav-btn {
      display: none;
    }

    &__nav__open {
      visibility: visible;
      display: flex;
      justify-content: space-between;
      width: 70%;
      transform: translateX(0);

      &__menu {
        // list-style: none;
        padding-inline-start: 0;
        padding-right: 1%;
        color: $cBlack;
        margin-bottom: 0;

        &:hover {
          color: #7B7D81;
        }

        &__link:hover {
          text-decoration: none;
          color: #7B7D81;
        }

        &__list {
          width: 100%;
          margin-top: auto;
          margin-bottom: auto;
        }

        &__box {
          @extend .bebas-rg-700up;
          font-size: 18px;
          padding-left: 5%;
          display: inline-block;

        }
      }

      &__sns-list {
        display: flex;
        align-items: center;
        width: 30%;


      }

      &__sns-img {
        width: 40px;
        height: 40px;
        margin-left: 14px;

        &:hover {
          opacity: 0.7;
        }
      }

      &__sns-fb {
        transform: scale(1.28);
        color: #000000;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.main {
  &__about {
    &__contents {
      &__paragraph {
        &>span {
          &:last-child {
            display: inline-block;
          }
        }
      }
    }
  }

  &__service {
    &__contents {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__contact {
    &::before {
      height: 420px;
    }

    &__back-base {
      position: absolute;
      z-index: -2;
      top: 420px;
      width: 100%;
      height: 1100px;
      object-fit: cover;
      object-position: 56% -400px;
    }
  }
}


.footer {
  &__map-box {
    width: 140%;
    height: 660px;
    overflow: hidden;
    position: relative;

    &__img {
      top: -63px;
      left: -248px;
      height: 660px;
    }
  }
  &__company {
    top: 430px;
    width: 86%;
    max-width: 660px;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  &__copyright {
    height: 500px;

    &__box {
      width:658px;
      margin:0 auto;
      padding-top: 430px;
      font-size:14px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      &__title {
        padding-bottom: 14px;
      }
    }
  }
}


.form-block {
  font-size: 16px;
  padding: 13% 7%;

  &__tag {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    margin-top: 10px;
  }

  &__radio-btn {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;

    &>input {
      width: 32px;
      height: 32px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  &__text-small {
    display: inline-block;
    width: 75%;
    height: 50px;
  }

  &__text-large {
    display: inline-block;
    width: 75%;
    height: 200px;
  }

  &__submit {
    margin-left: 25%;
    width: 75%;
    height: 70px;
    background-color: #7B7D81;
    color: #FFFFFF;

    &:hover {
      background-color: #FFF352;
      color: #000000;
    }
  }
}

.company {
  &__box {
    margin: 0 auto;
    width: 430px;
  }

  &__title {
    padding-bottom: 30px;
  }

  &__content {
    &__box {
      display: flex;
      font-size: 16px;
      padding-bottom: 20px;
    }

    &__title {
      font-weight: bold;
      width: 100px;
    }
  }
}